<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>CHANGE: Password - MUUTOS: Salasana</h2>

<hr>
{% if session.user_id %}
<h6>Logged in player - Kirjautunut pelaaja <output>{{ session.user_name }}</output></h6>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<hr>
<form action="/change_password" method="POST">
<label>Username - käyttäjätunnus</label> <br><input type="text" name="username" minlength="3" maxlength="20" required="required">
<br>
<br>
<label>Old password - Vanha salasana</label> <br><input type="password" name="password1" minlength="3" maxlength="20" required="required">
<br>
<br>
<label>New password - Vanha salasana</label> <br><input type="password" name="password2" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Change - Vaihda">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<br>
<form action="/" method="GET">
<input type="submit" value="Back - Takaisin">
</form>
<br>
<hr>
{% if 'changed' in info%}
<label>Info:</label><alert class="alert alert-success">{{ info }}</alert>
{% else %}
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endif %}
{% endblock %}
