<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>CHANGE: Password - MUUTOS: Salasana</h2>

<hr>
{% if session.user_id %}
You have logged in with name - Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b><br>
<br>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<br>
<br>
<form action="/change_password" method="POST">
Username - käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20" required="required">
<br>
<br>
Old password - Vanha salasana: <br><input type="password" name="password1" minlength="3" maxlength="20" required="required">
<br>
<br>
New password - Vanha salasana: <br><input type="password" name="password2" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Change - Vaihda">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<br>
<br>
<form action="/" method="GET">
<input type="submit" value="Back - Takaisin">
</form>
<br>
<br>
Info: {{ message }}
{% endblock %}
