<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Answer Check - Vastauksen tarkistus</h2>

<hr>
{% if 'Right' in result_message %}
<label>Your answer - Vastauksesi:</label> <alert class="alert alert-success">{{ result_message }}</alert>
{% else %}
<label>Your answer - Vastauksesi:</label> <alert class="alert alert-dark">{{ result_message }}</alert>
{% endif %}
<br>
<br>
<label>Amount of questions - Kysymysmäärä:</label>  {{ question_amount }}
<br>
{% if question_amount < 1 %}
{{ q_message }}<br>
<form action="/menu" method="GET">
<br>
<input type="submit" value="New game - Uusi peli">  
</form>  
<form action="/game_info" method="GET">
<br>
<input type="submit" value="Game result - Pelin tulos">  
</form>
<br>
<br>
{% else %}
<form action="/game" method="GET">
<input type="submit" value="New question - Uusi kysymys">
</form>
<br>
<br>
<a href="/menu">Back - Takaisin</a>
{% endif %}
<br>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}
