<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Deletion - Poisto</h2>

<hr>
<b>WARNING</b>: Confirm deletion - <b>VAROITUS</b>: Vahvista poistaminen<br>
<h6>Game no - Pelinro: <output>{{ gid }}</output></h6>
<form action="/delete" method="POST">
<input type="hidden" name="gid" value= {{ gid }}>
<input type="submit" value="Delete - Poista">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<br>
<a href="/">Back - Takaisin</a>
<br>
<br>
<hr>
{% if 'deleted' in info%}
<label>Info:</label><alert class="alert alert-success">{{ info }}</alert>
{% else %}
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endif %}
{% endblock %}
