<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Game Page - Pelisivu</h2>

<hr>
{% if session.user_id %}
You have logged in with name - Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b><br>
<br>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<br>
<br>
Game id number      - Pelinumero:       {{ session.game_id }}<br>
Question category   - Kysymyskategoria: {{ session.game_category }}<br>
Difficulty level    - Vaikeustaso:      {{ session.game_level }}<br>
Game session number - Pelikertoja:      {{ session.game_sessions }}<br>
Answers             - Vastauksia:       {{ session.game_answers }}<br>
Points              - Pisteitä:         {{ session.game_points }}<br>
<br>
<br>
Question - Kysymys:<br>
================<br>
<br>
<b>{{ session.question_text }}</b><br>
<br>
Your answer - Vastauksesi:<br>
=====================<br>
<form action="/game" method="POST"><br>
<input type="radio" name="answer" value="1" required="required"> 1 - {{ session.answer_text_1 }}<br>
<input type="radio" name="answer" value="2"> 2 - {{ session.answer_text_2 }}<br>
<input type="radio" name="answer" value="3"> 3 - {{ session.answer_text_3 }}<br>
<br>
<input type="hidden" name="correct" value="1" required="required">
<input type="hidden" name="correct" value="2">
<input type="hidden" name="correct" value="3">
<input type="submit" value="Answer-Vastaa">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<form action="/check" method="GET">
<br>
<a href="/menu">Back - Takaisin</a>
<br>
<br>
Info: {{ message }}
{% endblock %}
