<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Game Page - Pelisivu</h2>

<hr>
{% if session.user_id %}
<h6>Logged in player - Kirjautunut pelaaja <output>{{ session.user_name }}</output></h6>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<hr>
<h6>Game info - Pelitiedot</h6>
<table class="table table-success table-striped">
<tr><td>Game id number      - Pelinumero</td>       <td><b>{{ session.game_id }}</b></td></tr>
<tr><td>Question category   - Kysymyskategoria</td> <td><b>{{ session.game_category }}</b></td></tr>
<tr><td>Difficulty level    - Vaikeustaso</td>      <td><b>{{ session.game_level }}</b></td></tr>
<tr><td>Game session number - Pelikertoja</td>      <td><b>{{ session.game_sessions }}</b></td></tr>
<tr><td>Answers             - Vastauksia</td>       <td><b>{{ session.game_answers }}</b></td></tr>
<tr><td>Points              - Pisteitä</td>         <td><b><font color="#dc3545">{{ session.game_points }}</font></b></td></tr>
</table>
<br>
<h4>Question - Kysymys</h4>
<output><b>{{ session.question_text }}</b></output><br>
<br>
<h4>Your answer - Vastauksesi</h4>
<form action="/game" method="POST">
<input type="radio" name="answer" value="1" required="required"> 1 - {{ session.answer_text_1 }}<br>
<input type="radio" name="answer" value="2"> 2 - {{ session.answer_text_2 }}<br>
<input type="radio" name="answer" value="3"> 3 - {{ session.answer_text_3 }}<br>
<br>
<input type="hidden" name="correct" value="1" required="required">
<input type="hidden" name="correct" value="2">
<input type="hidden" name="correct" value="3">
<input type="submit" value="Answer - Vastaa">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<form action="/check" method="GET">
<br>
<a href="/menu">Back - Takaisin</a>
<br>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}
