<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Start Page - Aloitussivu</h2>

<hr>
Number of players - Pelaajamäärä: {{ count }}
<br>
<br>
<!-- Pelaajatunnukset:
<br>
{% for user in users %}
{{ user.username }}
{% endfor %} -->
<br>
<hr>
<form action="/" method="POST">
{% if session.user_id %}
Logged in player - Kirjautunut pelaaja: <b>{{ session.user_name }}</b> 
<br>
<br>
Start new game - Aloita uusi peli:<br>
<a href="/menu">New game - Uusi peli</a>
<br>
{% if session.user_id != 0 %}
<br>
Search previous game - Hae aiempi peli:<br>
<a href="/search">Search game - Hae peli</a><br>
<br>
Remove game - Poista peli:<br>
<a href="/search_remove">Search removable game - Hae poistettava peli</a><br>
<br><br>
Change user details - Muuta käyttäjätietoja:<br>
--------------------------------------------------------<br>
<br>
<a href="/change_password">Change password - Vaihda salasana</a><br>
<br>
<br>
{% if session.user_role == 1 %}
Admin user functions - Hallinnoijan toiminnot:<br>
---------------------------------------------------------<br>
<br>
<a href="/add_questions_answers">Add questions and answers - Lisää kysymyksiä ja vastauksia</a><br>
{% endif %}
{% endif %}
<br>
<br>
<br>
<a href="/logout">Log out - Kirjaudu ulos</a>

{% else %}
You have not logged in - Et ole kirjautunut sisään
<br>
<br>
<a href="/login">Log in - Kirjaudu</a>
<br>
<br>
<hr>
<b>Info:</p> {{ message }}
{% endif %}
{% endblock %}
