<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="/static/theme.css">
        <title>TRIVIA</title>
    </head>
    <body>
        <h1><b><font color="#fd7e14">T</font>
            <font color="#17a2b8">R</font>
            <font color="#ffc107">I</font>
            <font color="#28a745">V</font>
            <font color="#4e4e4e">I</font>
            <font color="#e83e8c">A</font></b>
            -tietovisa</h1>
        <hr>
        {% block content %}{% endblock %}     
    </body>
</html>