<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Login Page - Kirjautumissivu</h2>

<hr>
<form action="/login" method="POST">
<label>Username - Käyttäjätunnus</label> <br><input type="text" name="username" minlength="3" maxlength="20" required="required">
<br>
<br>
<label>Password - Salasana</label> <br><input type="password" name="password" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Log in - Kirjaudu">
</form>
<br>
<br>
<form action="/register" method="GET">
<label>Create user credentials - Luo kirjautumistiedot</label>
<br><input type="submit" value="Register - Luo käyttäjätili">
</form>
<br>
<br>
<form action="/logout" method="GET">
<input type="submit" value="Cancel - Lopeta">
</form>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}