<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Login Page - Kirjautumissivu</h2>

<hr>
<form action="/login" method="POST">
Username - käyttäjätunnus: <br><input type="text" name="username" minlength="3" maxlength="20" required="required">
<br>
<br>
Password - Salasana: <br><input type="password" name="password" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Log in - Kirjaudu">
</form>
<br>
<br>
<form action="/register" method="GET">
Create user credentials - Luo kirjautumistiedot:
<br><input type="submit" value="Register - Luo käyttäjätili">
</form>
<br>
<br>
<br>
<br>
<form action="/logout" method="GET">
<input type="submit" value="Cancel - Lopeta">
</form>
{% endblock %}
