<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Game Menu - Pelivalikko</h2>

<hr>
{% if session.user_id %}
<h6>Logged in player - Kirjautunut pelaaja <output>{{ session.user_name }}</output></h6>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<hr>
<form action="/menu" method="POST">
<label>Choose <b>category</b> - Valitse <b>kategoria</b></label><br>
<br>
<input type="radio" name="cat" value=1 required="required"> 1 - science/geography - tiede/maantiede<br>
<input type="radio" name="cat" value=2> 2 - History/herstory          - Historia<br>
<input type="radio" name="cat" value=3> 3 - Sports/leisure/food       - Urheilu/vapaa-aika/ruoka<br>
<input type="radio" name="cat" value=4> 4 - Music/art/literature      - Musiikki/taide/kirjallisuus<br>
<input type="radio" name="cat" value=5> 5 - Movies/TV/entertainment   - Elokuvat/TV/viihde<br>
<input type="radio" name="cat" value=6> 6 - Random topic              - Satunnainen aihe<br>
<br>
<label>Choose <b>difficulty level</b> - Valitse <b>vaikeustaso</b></label><br>
<br>
<input type="radio" name="lev" value=1 required="required"> 1 - Easy - Helppo<br>
<input type="radio" name="lev" value=2> 2 - Moderate  - Keskitaso<br>
<input type="radio" name="lev" value=3> 3 - Difficult - Vaikea<br>
<br>
<input type="submit" value="Play - Pelaa">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>
<br>
<a href="/">Back - Takaisin</a>
<br>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}
