{% extends "layout.html" %}
{% block content %}

<h2>Main menu - Päävalikko</h2>

{% if session.user_id %}
You have logged in with name - Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b><br>
<br>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}

<br>
<br>
<form action="/menu" method="POST">
Choose <b>category</b> - Valitse <b>kategoria</b>:<br>
<br>
<input type="radio" name="cat" value="1"> 1 - science/geography         - tiede/maantiede<br>
<input type="radio" name="cat" value="2"> 2 - history/herstory          - historia<br>
<input type="radio" name="cat" value="3"> 3 - sports/leisure/food       - urheilu/vapaa-aika/ruoka<br>
<input type="radio" name="cat" value="4"> 4 - music/art/literature      - musiikki/taide/kirjallisuus<br>
<input type="radio" name="cat" value="5"> 5 - movies/TV/entertainment   - elokuvat/TV/viihde<br>
<input type="radio" name="cat" value="6"> 6 - random topic              - satunnainen aihe<br>
<br>
<br>
Choose <b>difficulty level</b> - Valitse <b>vaikeustaso</b>:<br>
<br>
<input type="radio" name="lev" value="1"> 1 - easy      - helppo<br>
<input type="radio" name="lev" value="2"> 2 - moderate  - keskitaso<br>
<input type="radio" name="lev" value="3"> 3 - difficult - vaikea<br>
<br>
<input type="submit" value="Play-Pelaa">
</form>
<br>
<form action="/game" method="GET">
<br>
<a href="/">Back-Takaisin</a>

{% endblock %}
