{% extends "layout.html" %}
{% block content %}

<h2>Register - Rekisteröinti</h2>

<form action="/register" method="POST">
<b>Username - Tunnus:</b> <br>
<input type="text" name="username" minlength="3" maxlength="20"><br>
3-20 merkkiä<br>
<br>
<b>Password - Salasana:</b> <br>
<input type="password" name="password1" minlength="3" maxlength="20"><br>
3-20 merkkiä<br>
<br>
<b>Confirm passwork - Salasana uudestaan:</b> <br>
<input type="password" name="password2" minlength="3" maxlength="20"><br>
3-20 merkkiä<br>
<br>
<input type="submit" value="Create - Luo tunnus">
</form>

<br>
<br>
<a href="/login">Return - Palaa takaisin</a>

{% endblock %}
