<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Register - Rekisteröinti</h2>

<form action="/register" method="POST">
Username - Tunnus: <br><input type="text" name="username" minlength="3" maxlength="20" required="required" >
<br>
<br>
Password - Salasana: <br><input type="password" name="password1" minlength="3" maxlength="20" required="required">
<br>
<br>
Confirm passwork - Salasana uudestaan: <br><input type="password" name="password2" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Create - Luo tunnus">
</form>
<br>
<br>
<a href="/login">Back - Takaisin</a>

{% endblock %}
