<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Register - Rekisteröinti</h2>

<hr>
<form action="/register" method="POST">
<label>Username - Tunnus</label> <br><input type="text" name="username" minlength="3" maxlength="20" required="required" >
<br>
<br>
<label>Password - Salasana</label> <br><input type="password" name="password1" minlength="3" maxlength="20" required="required">
<br>
<br>
<label>Confirm passwork - Salasana uudestaan</label> <br><input type="password" name="password2" minlength="3" maxlength="20" required="required">
<br>
<br>
<input type="submit" value="Create - Luo tunnus">
</form>
<br>
<br>
<a href="/login">Back - Takaisin</a>
<br>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}
