<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Game search - Pelihaku</h2>

{% if session.user_id %}
You have logged in with name - Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b><br>
<br>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a><br>
{% endif %}
<br><br><br>
<b>Game list - Pelilista:</b><br>
<br>
{% for game in gamelist %}
Pelinro: {{ game[0] }} Kategoria: {{ game[2] }} Taso: {{ game[3] }} Pisteitä: {{ game[1] }}<br>
{% endfor %}
<br>
<br>
Choose game number - Valitse pelinumero:  
<form action="/search" method="POST">
<select name="gid">
{% for game in gamelist %}
<option value={{ game[0] }} selected> {{ game[0] }}<br>
{% endfor %}
</select>
<input type="submit" value="Start - Aloita">
</form>
<br>
<br>
<a href="/">Back - Takaisin</a>

{% endblock %}
