<!DOCTYPE html>
{% extends "layout.html" %}
{% block content %}

<h2>Game Search: Remove - Pelihaku: Poisto</h2>

<hr>
{% if session.user_id %}
<h6>Logged in player - Kirjautunut pelaaja <output>{{ session.user_name }}</output></h6>
<a href="/logout">Log out - Kirjaudu ulos</a>
{% else %}
You have not logged in - Et ole kirjautunut sisään: <a href="/login">Log in - Kirjaudu sisään</a>
{% endif %}
<hr>
<h6>Game List - Pelilista</h6>
<table class="table table-success table-striped">
<tr><td>Pelinumero</td> <td>Kategoria</td> <td>Taso</td> <td>Pisteitä</td></tr>
{% for game in gamelist %}
<tr><td><b>{{ game[0] }}</b></td> <td>{{ game[2] }}</td> <td>{{ game[3] }}</td> <td>{{ game[1] }}</td></tr>
{% endfor %}
</table>
<br>
<label>Choose game number - Valitse pelinumero</label>
<form action="/search_remove" method="POST">
<select name="gid" required>
{% for game in gamelist %}
<option value={{ game[0] }}> {{ game[0] }}</option><br>
{% endfor %}
</select>
<br>
<br>
<label>Remove game - Poista peli:</label><br>
<input type="submit" value="Delete - Poista">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
</form>

<br>
<br>
<a href="/">Back - Takaisin</a>
<br>
<hr>
<label>Info:</label><alert class="alert alert-info">{{ info }}</alert>
{% endblock %}
